body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #9aa0a6;
    background-color: #292a2d;
}

.content {
    margin-left: 100px;
    margin-right: 50px;
    padding-bottom: 200px;
}

p {
    cursor: pointer
}

#out {
/*     right: 20px;
    position: absolute; */
}
